<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|9"}}},"className":"post-header alignwide","layout":{"type":"constrained"}} -->
<div class="wp-block-group post-header" style="padding-top:var(--wp--preset--spacing--9)">
<!-- wp:ainoblocks/grid-container {"className":"alignwide col-gap-s"} -->
<div class="wp-block-ainoblocks-grid-container alignwide ab-grid-block col-gap-s"><!-- wp:ainoblocks/grid-item {"gridColumnStartDesktop":1,"gridColumnEndDesktop":7,"gridColumnStartTablet":1,"gridColumnEndTablet":7,"gridColumnStartMobile":1,"gridColumnEndMobile":13,"className":"align-self__start justify-self__start col_end_d__10 col_end_t__10 col_end_t__11 justify-self__stretch"} -->
<div class="wp-block-ainoblocks-grid-item col_start_d__1 col_end_d__7 col_start_t__1 col_end_t__7 col_start_m__1 col_end_m__13 no-stacking align-self__start justify-self__start col_end_d__10 col_end_t__10 col_end_t__11 justify-self__stretch"><!-- wp:post-title {"level":1,"align":"wide","fontSize":"text-4-xl"} /-->

<!-- wp:ainoblocks/flexbox {"flexDirectionMobile":"direction__col__m","alignItemsDesktop":"align-items__center__d","alignItemsTablet":"align-items__center__t","alignItemsMobile":"align-items__flexstart__m","alignContentDesktop":"align-cont__flexstart__d","alignContentTablet":"align-cont__flexstart__t","alignContentMobile":"align-cont__flexstart__m","className":"post-meta","paddingTop":2,"paddingBottom":9} -->
<div class="wp-block-ainoblocks-flexbox direction__row__d direction__row__t direction__col__m nowrap__d nowrap_t nowrap_m justify__flexstart__d justify__flexstart__t justify__flexstart__m align-items__center__d align-items__center__t align-items__flexstart__m align-cont__flexstart__d align-cont__flexstart__t align-cont__flexstart__m shadow-none post-meta pt__2 pb__9"><!-- wp:ainoblocks/flex-item {"paddingTop":2,"paddingRight":4} -->
<div class="wp-block-ainoblocks-flex-item auto pt__2 pr__4"><!-- wp:post-author {"showBio":false,"byline":"by ","textColor":"font-secondary","fontSize":"text-xs"} /--></div>
<!-- /wp:ainoblocks/flex-item -->

<!-- wp:ainoblocks/flex-item {"alignSelfDesktop":"align__auto__d","paddingTop":2} -->
<div class="wp-block-ainoblocks-flex-item pt__2 align__auto__d auto "><!-- wp:post-date {"textColor":"font-secondary","fontSize":"text-xs"} /--></div>
<!-- /wp:ainoblocks/flex-item --></div>
<!-- /wp:ainoblocks/flexbox --></div>
<!-- /wp:ainoblocks/grid-item --></div>
<!-- /wp:ainoblocks/grid-container --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
<!-- wp:post-featured-image {"align":"wide","className":"br__s"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|9"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--9)">
<!-- wp:post-content {"className":"post-content"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|9","bottom":"var:preset|spacing|12"}}},"className":"post-footer has-font-tertiary-color has-text-color","layout":{"type":"constrained"}} -->
<div class="wp-block-group post-footer has-font-tertiary-color has-text-color" style="padding-top:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:post-terms {"term":"category","fontSize":"text-xs"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|9"}}},"className":"authorbox-wrap","layout":{"type":"constrained"}} -->
<div class="wp-block-group authorbox-wrap" style="padding-bottom:var(--wp--preset--spacing--9)"><!-- wp:post-author {"avatarSize":96,"showBio":true,"byline":"Published by","fontSize":"text-xs"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"featured-posts","tagName":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->