<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|9","bottom":"var:preset|spacing|12"}}},"className":"products-sidebar-container","layout":{"contentSize":"112.5rem","type":"constrained"}} -->
<div class="wp-block-group products-sidebar-container" style="padding-top:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:ainoblocks/grid-container -->
	<div class="wp-block-ainoblocks-grid-container alignwide ab-grid-block"><!-- wp:ainoblocks/grid-item {"gridColumnStartDesktop":3,"gridColumnEndDesktop":13,"className":"products-container br__s"} -->
	<div class="wp-block-ainoblocks-grid-item col_start_d__3 col_end_d__13 col_start_t__1 col_end_t__13 col_start_m__1 col_end_m__13 no-stacking products-container br__s"><!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_cat"} /--></div>
	<!-- /wp:ainoblocks/grid-item -->
	
	<!-- wp:ainoblocks/grid-item {"gridColumnEndDesktop":3} -->
	<div class="wp-block-ainoblocks-grid-item col_start_d__1 col_end_d__3 col_start_t__1 col_end_t__13 col_start_m__1 col_end_m__13 no-stacking"><!-- wp:template-part {"slug":"sidebar-shop","theme":"mugistore","tagName":"uncategorized"} /--></div>
	<!-- /wp:ainoblocks/grid-item --></div>
	<!-- /wp:ainoblocks/grid-container --></div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->